<div class="container-fluid">
    <div class="row">
        <div class="col p-0">
            <ul ngbNav #nav="ngbNav" class="nav-tabs d-flex justify-content-center">
                <li ngbNavItem>
                    <a ngbNavLink class="blackText">Recent Work</a>
                    <ng-template ngbNavContent>
                        <div class="backColor">
                            <div class="row py-3">
                                <div class="col d-flex flex-column align-items-center ">
                                    <img src="assets/Trivia.png" alt="Trivia" class="img-fluid">
                                    <a href="../Projects/Trivia">Trivia Game - HTML, CSS, Javascript</a>
                                </div>
                                <div class="col d-flex flex-column align-items-center">
                                    <img src="assets/BusinessRedevelopment.png" alt="Business Redevelopment" class="img-fluid">
                                    <a href="../Projects/BusinessRedevelopment">Business Redevelopment - HTML, CSS, Javascript</a>
                                </div>
                            </div>
                            <div class="row py-3">
                                <div class="col d-flex flex-column align-items-center">
                                    <img src="assets/Webstore.png" alt="Webstore" class="img-fluid">
                                    <a href="../Projects/Webstore">Website Store - HTML, CSS, Javascript</a>
                                </div>
                                <div class="col d-flex flex-column align-items-center">
                                    <img src="assets/UtilityMultitool.PNG" alt="Utility Multitool" class="img-fluid">
                                    <a href="../Projects/UtilityMultitool">Utility Multitool App - C#</a>
                                </div>
                            </div>
                            <div class="row py-3">
                                <div class="col d-flex flex-column align-items-center">
                                    <img src="assets/DonD.PNG" alt="Placeholder" class="img-fluid">
                                    <a href="../Projects/DonD">Deal or No Deal Game - C#</a>
                                </div>
                                <div class="col d-flex flex-column align-items-center">
                                    <img src="assets/ToDoList.png" alt="To Do List" class="img-fluid">
                                    <a href="../Projects/ToDoList">To-Do List - HTML, CSS, Javascript</a>
                                </div>
                            </div>
                            <div class="row py-3">
                                <div class="col d-flex flex-column align-items-center">
                                    <img src="assets/Directory.png" alt="Directory" class="img-fluid">
                                    <a href="../Projects/Directory">Code Stack Student Directory - HTML, CSS, Javascript</a>
                                </div>
                                <div class="col d-flex flex-column align-items-center">
                                    <img src="assets/Top5.png" alt="Top 5" class="img-fluid">
                                    <a href="../Projects/Top5">Top 5 Games list, Codeveloped by David Abdallah - HTML, CSS, Javascript</a>
                                </div>
                            </div>

                        </div>
                    </ng-template>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink class="blackText">About Me</a>
                    <ng-template ngbNavContent>
                        <div class="backColor">
                            <div class="row py-3">
                                <div class="col d-flex justify-content-center">
                                    <h1 class="whiteText">Jon Stewart</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-center">
                                    <img src="assets/Headshot.jpg" alt="Headshot" class="img-fluid headshot">
                                </div>
                                <div class="col d-flex flex-column justify-content-center whiteText">
                                    <h3 class="m-0">I am a student at the</h3>
                                    <h3 class="m-0">Code Stack Academy</h3>
                                    <h3 class="mb-4">in Stockton, CA.</h3>
                                    <h3>
                                        I am experienced in:
                                    </h3>
                                    <ul>
                                        <li>
                                            <h4>
                                                C#
                                            </h4>
                                        </li>
                                        <li>
                                            <h4>
                                                HTML/CSS
                                            </h4>
                                        </li>
                                        <li>
                                            <h4>
                                                Javascript
                                            </h4>
                                        </li>
                                        <li>
                                            <h4>
                                                Angular
                                            </h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>
</div>