.headshot{
    max-height: 35rem;
}

.backColor{
    //background-color: #EAD8A9;
    background: linear-gradient(#EAD8A9, #E0AF2F);
}

.centerText{
    text-align: center;
}

.whiteText{
    color: white;
}

.blackText{
    color: black;
}