<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ul ngbNav #nav="ngbNav" class="nav-tabs d-flex justify-content-center">
                <li ngbNavItem>
                    <a ngbNavLink>Recent Work</a>
                    <ng-template ngbNavContent>
                        <div class="row my-3">
                            <div class="col d-flex flex-column align-items-center">
                                <img src="assets/Placeholder.jpg" alt="Placeholder">
                                <p>Trivia Game - HTML, CSS, Javascript</p>
                            </div>
                            <div class="col d-flex flex-column align-items-center">
                                <img src="assets/Placeholder.jpg" alt="Placeholder">
                                <p>Business Redevelopment - HTML, CSS, Javascript</p>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col d-flex flex-column align-items-center">
                                <img src="assets/Placeholder.jpg" alt="Placeholder">
                                <p>Website Store - HTML, CSS, Javascript</p>
                            </div>
                            <div class="col d-flex flex-column align-items-center">
                                <img src="assets/Placeholder.jpg" alt="Placeholder">
                                <p>Utility Multitool App - C#</p>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col d-flex flex-column align-items-center">
                                <img src="assets/Placeholder.jpg" alt="Placeholder">
                                <p>Deal or No Deal Game - C#</p>
                            </div>
                            <div class="col d-flex flex-column align-items-center">
                                <img src="assets/Placeholder.jpg" alt="Placeholder">
                                <p>To-Do List - HTML, CSS, Javascript</p>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col d-flex flex-column align-items-center">
                                <img src="assets/Placeholder.jpg" alt="Placeholder">
                                <p>Code Stack Student Directory - HTML, CSS, Javascript</p>
                            </div>
                            <div class="col d-flex flex-column align-items-center">
                                <img src="assets/Placeholder.jpg" alt="Placeholder">
                                <p>Top 5 Games list, Codeveloped by David Abdallah - HTML, CSS, Javascript</p>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink>About Me</a>
                    <ng-template ngbNavContent>
                        <div class="row my-3">
                            <div class="col d-flex justify-content-center">
                                <h1>Jon Stewart</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <img src="assets/Headshot.jpg" alt="Headshot" class="img-fluid headshot">
                            </div>
                            <div class="col">
                                <h3>I am a student at the Code Stack Academy in Stockton, CA.</h3>
                                <h3>
                                    I am experienced in:
                                </h3>
                                <ul>
                                    <li>
                                        <h4>
                                            C#
                                        </h4>
                                    </li>
                                    <li>
                                        <h4>
                                            HTML/CSS
                                        </h4>
                                    </li>
                                    <li>
                                        <h4>
                                            Javascript
                                        </h4>
                                    </li>
                                    <li>
                                        <h4>
                                            Angular
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>
</div>